
# Created by https://www.gitignore.io/api/idris,visualstudiocode

### Idris ###
*.ibc
*.o

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# End of https://www.gitignore.io/api/idris,visualstudiocode